@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Oswald:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Oswald:wght@700&family=Pacifico&display=swap');
body{
    background-color: lightblue;
}
#state{
    color: black;
    font-family: 'Oswald', sans-serif;
}
.li1,.li2, .li3,.li4{
    color:  rgba(255, 72, 0, 0.753);
    text-decoration:underline;
    font-family: 'Oswald', sans-serif;
}
.ul1,.ul2,.ul3,.ul4 {
    color: darkmagenta;
    font-family: 'Oswald', sans-serif;
}
